.exam-details {
    display: none;
    background: var(--color-exam-details-background);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    max-height: 400px;
    overflow-y: auto;
    white-space: normal;
    word-wrap: break-word;
}
