:root {
    --pack-color-box-border: #5555BB;
    --pack-color-op-all: #93CAED;
    --pack-color-op-shuf: #F47174;
    --pack-color-op-head: #F5CA7B;
    --pack-color-op-difficulty: #EEEE9B;
    --pack-color-op-sort: #ACD1AF;
    --pack-color-op-tag: #BBB5D8;
}

.pack-button {
    border-radius: 4px;
    border: solid 2px;
    padding: 6px;
    min-width: 100px;
    margin: 2px 2px 2px 2px;
    border-color: var(--pack-color-box-background);
}

.pack-box {
    position: relative;
    border-radius: 4px;
    border: solid 2px;
    padding: 10px;
    min-width: 400px;
    margin: 4px 4px 4px 4px;
    border-color: var(--pack-color-box-background);
}

.pack-box-buttons {
    top: 2px;
    right: 2px;
    position: absolute;
}

.pack-shuf {
    background-color: var(--pack-color-op-shuf);
}
.pack-all {
    background-color: var(--pack-color-op-all);
}
.pack-head {
    background-color: var(--pack-color-op-head);
}
.pack-by-difficulty {
    background-color: var(--pack-color-op-difficulty);
}
.pack-by-tag {
    background-color: var(--pack-color-op-tag);
}
.pack-sort {
    background-color: var(--pack-color-op-sort);
}
